SUPER_USER=email,firstname,lastname,password

PORT=3000

NODE_ENV=development

DATABASE_URL=file:./data/local.db

PUBLIC_STATIC_ROOT=./public

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

JWT_SECRET=some-secret
JWT_EXPIRE_MS=604800000 # 7 days
