FUNKALLERO_DEBUG_MODE=off
FUNKALLERO_SUPER_USER=john@doe.com,john,doe,john-doe-pass
FUNKALLERO_MODE=dev
FUNKALLERO_PORT=5000
LINDENEG_JWT_SECRET=super-secret

DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public

CLOUDINARY_NAME=name
CLOUDINARY_KEY=key
CLOUDINARY_SECRET=secret
