<!DOCTYPE html>
<html lang='en'>
{{> head
    title=title
    description=description
    pureCss=true
    css=(csvArray "/css/site.css")
}}

<body>
{{> nav
    leftEntries=leftNavEntries
    rightEntries=rightNavEntries
    activePageName=slug
    brandName=brandName
}}

{{#each markdownSections}}
    <section class="page-section">
        {{this}}
    </section>
{{/each}}

<footer class="footer divider-border-top">
    <div class="wrapper"><p>© Christian Lindeneg 2023</p>
        <p>|</p><a href="https://github.com/Lindeneg/funkallero" target="_blank">Made with: <span>Funkallero</span></a>
    </div>
</footer>

<script src='/js/core.js'></script>
</body>
</html>
