<!DOCTYPE html>
<html lang='en'>
{{> head
    title=title
    description=description
    pureCss=true
    css=(csvArray "/css/site.css")
}}

<body>
{{> nav
    leftEntries=leftNavEntries
    rightEntries=rightNavEntries
    activePageName=slug
    brandName=brandName
}}

{{#each markdownSections}}
    <section class="page-section">
        {{this}}
    </section>
{{/each}}

{{> footer }}

{{> analytics }}
</body>
</html>
