.nav-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav-entry {
    flex-grow: 1;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65);
}

.pure-button-error {
    background: rgb(202, 60, 60);
}

.pure-button-warning {
    background: rgb(223, 117, 20);
}

.pure-button-secondary {
    background: rgb(66, 184, 221);
}

.hidden {
    display: none;
}

.admin-confirm-actions {
    margin-top: 3rem;
}

#page-commit-btn,
#post-commit-btn,
#nav-commit-btn {
    margin-right: 1rem;
}

.admin-navigation-name,
.admin-blog-name {
    display: inline-flex;
    flex-direction: column;
}

.update-table-btn,
.delete-table-btn {
    cursor: pointer;
}

.update-table-btn:hover,
.delete-table-btn:hover {
    text-decoration: underline;
}

.delete-table-btn:hover {
    color: red;
}

.admin-section {
    padding: 2rem;
    margin-bottom: 5rem;
    overflow-x: auto;
}

.mdeContainer {
    display: inline-block;
    width: 640px;
    vertical-align: top;
}
