<!DOCTYPE html>
<html lang='en'>
{{> head
    title="Lindeneg Admin"
    description="Admin page for Lindeneg homepage"
    pureCss=true
    css=(csvArray "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css,/css/site.css,/css/admin.css")
    js=(csvArray "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js")
}}

<body>
<nav class="pure-button-group nav-button-wrapper" role="menu" aria-label="...">
    <button class="pure-button nav-entry pure-button-primary">Navigation</button>
    <button class="pure-button nav-entry button-secondary">Pages</button>
    <button class="pure-button nav-entry pure-button-primary">Posts</button>
    <button class="pure-button nav-entry pure-button-primary">Users</button>
    <button class="pure-button nav-entry button-error">Clear Cache</button>
    <button class="pure-button nav-entry button-warning">Logout</button>
</nav>

<div id="app"></div>

<script src='/js/core.js'></script>
<script src='/js/admin/core.js'></script>
</body>
</html>
