<!DOCTYPE html>
<html lang='en'>
{{> head
    title="Lindeneg Admin"
    description="Admin page for Lindeneg homepage"
    pureCss=true
    css=(csvArray "/lib/simplemde.min.css,/css/site.css,/css/admin.css")
    js=(csvArray "/lib/simplemde.min.js")
}}

<body>
<nav class="pure-button-group nav-button-wrapper" role="menu" aria-label="...">
    <button class="pure-button nav-entry pure-button-secondary">Navigation</button>
    <button class="pure-button nav-entry pure-button-primary">Pages</button>
    <button class="pure-button nav-entry pure-button-primary">Posts</button>
    <button class="pure-button nav-entry pure-button-primary">Messages</button>
    <button class="pure-button nav-entry pure-button-error">Clear Cache</button>
    <button class="pure-button nav-entry pure-button-warning">Logout</button>
</nav>

<div id="app"></div>

<div class="ripple-wrapper hidden"><div class="lds-ripple"><div></div><div></div></div></div>
<div class="ripple-background hidden"><h1></h1></div>

<script src='/js/cl-elements.js'></script>
<script src='/js/cl-table.js'></script>
<script src='/js/cl-http.js'></script>
<script src='/js/cl-core.js'></script>
</body>
</html>
